body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: 20px 0;
}
a{
    text-decoration: none;
    color:white;
}

nav {
    background-color: #6a1b9a;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.course-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 20px;
    border-radius: 10px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.details {
    flex: 1;
}

.details h2 {
    color: #4a4a4a;
}

.details p {
    margin: 10px 0;
}

.rating {
    color: #ff9500;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    color: #e60023;
    font-size: 1.2em;
    font-weight: bold;
}

button#download-now {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button#download-now:hover {
    background-color: #4a0072;
}

.description {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

@media (min-width: 768px) {
    .course-info {
        flex-direction: row;
    }

    .video-wrapper {
        flex: 0 0 300px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 0;
    }
}
